.sidebar {
  width: 300px;
  height: 32rem;
  background-color: #f4f4f4;
  transition: transform 0.3s ease-in;
  transform: translateX(-80%);
  position: fixed;
  top: 4rem;
  right: -15rem;
  z-index: 999;
  overflow: visible;
  border-radius: 8px;
}

.sidebar.visible {
  transform: translateX(0);
  transition: 0.4s ease-in;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.toggle-button {
  right: 5rem;
  margin: 10px;
  border: 1px solid navy;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 24px;
  padding: 0 1rem;
  border-radius: 4px;
}
